.cantainer-imagen{

}
.cantainer-imagen:hover >div> span{
    display: none;
}

.imagen-project{
    filter: brightness(60%);  /* Sombra hacia adentro */
    border-radius: inherit;
}
.imagen-project:hover{
    filter: brightness(90%);  
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}
.container-description{
    backdrop-filter: blur(5px);
}