<div
  class="w-full flex flex-col md:flex-row flex-wrap items-center justify-center pt-20"
>
  <div class="w-52 md:w-96">
    <img
      class="w-full object-contain imagen-perfil"
      src="yo2.png"
      alt="imagen de perfil"
    />
  </div>
  <div
    class="w-96 md:w-[500px] p-4 flex flex-col items-center justify-center md:items-start"
  >
    <h1 class="font-bold text-4xl mb-10">Paul Perez</h1>
    <div class="container-description border border-blue-950 rounded-md p-4 flex flex-col flex-nowrap gap-4">
      <p>
        ¡Hola! Soy un desarrollador web full stack con experiencia en crear
        soluciones prácticas y eficientes.
      </p>
      <p>Hablemos y hagamos realidad eso que estas pensando.</p>
      <a href="/contact" class="block w-fit py-2 px-4 bg-blue-950 hover:bg-blue-900 rounded-md">Contáctame!</a>
    </div>
  </div>
</div>
<article class="my-10 flex flex-col items-start justify-center">
  <header>
    <h2 class="text-2xl font-semibold ml-5 md:ml-20">Technologias</h2>
  </header>
  <main
    class="container-description border border-blue-950 rounded-md px-0 py-4 md:p-4 flex flex-row flex-wrap gap-2 md:gap-6 items-center justify-center w-[350px] md:w-fit m-auto mt-10"
  >
    <div class="flex flex-row flex-wrap gap-6 items-center justify-center">
      @for (tech of technologies; track $index) {
      <ng-container>
        <ng-container
          *ngIf="getTechnologyComponent(tech.label) as TechComponent"
        >
          <div class="hover:scale-125 transition-all">
            <ng-container *ngComponentOutlet="TechComponent"></ng-container>
          </div>
        </ng-container>
      </ng-container>
      }
    </div>
  </main>
</article>
<article class="my-10">
  <header>
    <h2 class="text-2xl font-semibold ml-5 md:ml-20">Proyectos</h2>
  </header>
  <main
    class="w-full flex flex-row flex-wrap gap-6 items-center justify-center my-20 px-10"
  >
    @for (project of projects; track $index) {
    <app-cart-project [project]="project" />
    }
  </main>
</article>
<article class="my-10">
  <header>
    <h2 class="text-2xl font-semibold ml-5 md:ml-20">Contactame</h2>
  </header>
  <main class="w-full flex items-center justify-center my-10">
    <app-contact-me/>
  </main>
</article>
